/* Estilo Global para CRM_Med */

.fs-sp {
	padding-top: 30px;
	padding-right: 30px;
}

.form-inline .input-width {
	width: 100%;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
}

/* Estilos NAVBAR */
.navbar-brand {
    top: 10px;
    left: 30px;
}

/* botón menú */
.dropdown {
    top: 20px;
    left: 50px;
}

.dropdown button {
    width: 70px;
}

.dropdown-submenu {
    position: relative;
}