/* Estilo Global para CRM_Med */

.fs-sp
{
    padding-top: 30px;
    padding-right: 30px;
}

.form-inline .input-width
{
    width: 100%;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
{
    width: 100% !important;
}


/* Estilos barra de navegacion */

.navbar-logo
{
    width: 145px;
    height: auto;
}

.navbar-brand-custom
{
    padding: 0;
}

.navbar-fecha
{
    padding-top: 15px;
    padding-right: 20px;

    color: #777;
}

i.dropdown-icon
{
    padding-right: 10px;

    color: #777;
}

ul li.dropdown a i.icono-notificaciones
{
    font-size: 17px;

    padding: 0 5px 0 0;
}

.dropdown .dropdown-menu-sp
{
    min-width: 250px;
    padding: 10px;
}

.dropdown .dropdown-menu
{
    display: block;
    overflow: hidden;

    -webkit-transition: all .3s;
       -moz-transition: all .3s;
        -ms-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;

    opacity: 0;
}

.dropdown:hover .dropdown-menu
{
    max-height: 200px;

    opacity: 1;
}

.custom-footer
{
    margin-bottom: 30px;
    padding: 10px 15px;

    border: 1px solid #e7e7e7;
    background-color: #f8f8f8;

    border-radius: 4px;
}

.custom-footer p
{
    font-weight: bold;

    margin: 0;

    color: #777;
}
