/* Estilo Global para CRM_Med */

.red {
	color: red;
}

.fs-sp {
	padding-top: 30px;
	padding-right: 30px;
}

.form-inline .input-width {
	width: 100%;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
}