/* Estilo del scroll de las citas y tipo de citas */
#scrollCitas{
	width: 247px; 
	height: 255px; 
	overflow: scroll;
	overflow-x:hidden;
	overflow-y:auto;
}

/* Estilo de los tab de los pagos */

.wrap{
	width: 800px;
	max-width: 90%;
	margin: 30px auto;
}

ul.tabs_pagos{
	width: 60%;
	background: #fff;
	list-style: none;
	display: flex; 
	margin-left:20%;
	margin-right:20%;
}

ul.tabs_pagos li{
	width: 165px;
}

ul.tabs_pagos li a{
	color: #fff;
	text-indent: none;
	font-size: 16px;
	text-align: center; 
	display: block;
	padding: 10px 0px; 
}

.activee{
	background: #0984CC;
	border-radius: 7px;
}

ul.tabs_pagos li a .tab-text{
	color: #737373;
	text-decoration:none;
}

ul.tabs_pagos li a .tab-textselec{
	color: #fff;
	text-decoration:none;
}

